node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

docker/graph-node/data

justicantus_subgraph/tests/.bin/
justicantus_subgraph/tests/.docker/
justicantus_subgraph/build/
justicantus_subgraph/generated/


